<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AutoserviceConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\shalnev\lab1\lab1\Autoservice.mdf;Integrated Security=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>